html {
    
    background-image: url(images/background.avif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-weight: bold;
    font-family: monospace;
    color: black;
}

#head {
 
    background-color: white;
    text-align: center;
    font-size: 45px;
}

#dish,
#title {
    font-size: 32px;
    text-align: center;
}

.info,
.dishinfo {
    text-align: center;
    font-size: 22px;
}

#notice {
    font-size: 18px;
    text-align: center;
}

#subtitle,
#ingredients,
#directions {
    font-size: 22px;
}

.ingre,
.directs {
    font-size: 18px;
}

#odin {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#options,
#return {
    text-align: center;
}